# Node.js modules (for frontend development)
node_modules/
npm-debug.log

# Python-related files
*.pyc
__pycache__/
env/
venv/
.venv/
.Python
pyenv/

# Database and Environment
*.sqlite3
*.db
*.mysql
*.sql
.env
.env.local
.env.*.local
config/

# Logs
*.log
*.out
*.err
logs/

# Operating system files
.DS_Store
Thumbs.db

# IDE Specific (optional)
.vscode/
.idea/

# Build/Dist (Optional if you are compiling/minifying frontend assets)
dist/
build/

# Static assets (If generated during build)
staticfiles/
media/
